body{
    background-color: rgb (44,43,44);
}
header{
    background-color: rgb (28, 28, 28);
}
.btn{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 200px;
    left: 500px;
    font-family: Arial, sans-serif;
}
.btn:hover{
    background-color: grey;

} 

